{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "WCT": false,
    "describe": false,
    "beforeEach": false,
    "beforeAll": false,
    "afterEach": false,
    "fixture": false,
    "it": false,
    "expect": false,
    "gemini": false,
    "MockInteractions": false
  }
}
