{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-undef": 0,
    "no-unused-vars": 0
  },
  "globals": {
    "WCT": false,
    "describe": false,
    "beforeEach": false,
    "fixture": false,
    "it": false,
    "sinon": false,
    "expect": false,
    "gemini": false,
    "MockInteractions": false,
    "animationFrameFlush": false
  }
}
